* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-item:hover {
  text-decoration: underline; }

.card {
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px -15px; }

.whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px; }
  .whatsapp img {
    width: 70px; }

article img {
  border-image: 30px solid #12490d; }

main secction div img {
  border-image: 30px solid #12490d; }

.site_map ul li {
  text-align: center;
  padding: 5rem;
  list-style: none; }
  .site_map ul li a {
    text-decoration: none; }

.galeria {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-image: 30px solid #12490d; }
  .galeria:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px -15px; }

/*BLOG*/
.contenedor_blog {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block; }
  .contenedor_blog p {
    margin: 10px;
    text-align: justify; }

.articulo_actual {
  background-color: aliceblue;
  width: 74%;
  height: 1300px;
  float: left;
  margin-right: 10px;
  border-radius: 20px;
  overflow: auto; }
  .articulo_actual img {
    width: 100%; }
  .articulo_actual h2 {
    text-align: center;
    color: #008000; }

.otros_articulos {
  background-color: aliceblue;
  width: 24%;
  height: 1300px;
  float: left;
  margin-left: 10px;
  border-radius: 20px;
  overflow: auto;
  padding: 5px; }
  .otros_articulos img {
    border-radius: 20px;
    width: 100%; }
  .otros_articulos h4 {
    text-align: center;
    color: #008000; }

#boton_nuevo_articulo img {
  width: 19px; }

#boton_nuevo_articulo #boton_borradores {
  padding: 10px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-decoration: none; }
  #boton_nuevo_articulo #boton_borradores:hover {
    background-color: darkgrey; }

#boton_nuevo_articulo:hover {
  background-color: darkgrey; }

.img {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  max-width: 70px; }
  .img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px -15px; }
