@mixin efecto {
    transition: all 0.3s ease-in-out; 
    cursor: pointer;   
    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 50px -15px; 
    }
}

@mixin bordes {
    border-image: 30px solid $borde-imagen;
}