.card {
    @include efecto;
}

.whatsapp {
    position: fixed;
    right: 10px;
    bottom: 10px;
    img {
        width: 70px;
    }
}

article {
    img{
        @include bordes;
    }
}

main{
    secction {
        div{
            img {
                @include bordes;
            }
        }
    }
}
